*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: Satoshi-Bold;
    /* src: url(../atmsFont/Satoshi/Satoshi-Bold.woff); */
    /* font-weight: bold; */
    /* src: url(../atmsFont/Satoshi/Satoshi-Bold.woff); */
    src: url(../FONTS/atmsFont/Satoshi/Satoshi-Bold.woff);
  }

@font-face {
  font-family: Satoshi-Medium;
  src: url(../FONTS/atmsFont/Satoshi/Satoshi-Medium.woff);
  /* font-weight: bold; */
}

@font-face {
    font-family: Satoshi-Regular;
    src: url(../FONTS/atmsFont/Satoshi/Satoshi-Regular.woff);
    /* font-weight: bold; */
  }

@font-face {
    font-family: BalsamiqSans-Bold;
    src: url(../atmsFont/Balsamiq_Sans/BalsamiqSans-Bold.ttf);
    /* font-weight: 100; */
  }

@font-face {
    font-family: BalsamiqSans-BoldItalic;
    src: url(../atmsFont/Balsamiq_Sans/BalsamiqSans-BoldItalic.ttf);
    /* font-weight: 400; */
  }


@font-face {
    font-family: BalsamiqSans-Italic;
    src: url(../atmsFont/Balsamiq_Sans/BalsamiqSans-Italic.ttf);
    /* font-weight: bold; */
  }


@font-face {
    font-family: BalsamiqSans-Regular;
    src: url(../atmsFont/Balsamiq_Sans/BalsamiqSans-Regular.ttf);
    /* font-weight: bold; */
  }

@font-face {
    font-family: Nunito Sans;
  src: url(../fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}


  
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  overflow-x: hidden; /* Hides horizontal overflow */
  width: 100%; /* Ensures content fits the screen width */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  box-sizing: border-box; /* Includes padding & border in width calculation */

}

* {
  -webkit-user-drag: none;
  user-select: none;
}

.mainNav {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0vh 4vw 0vh 4vw;
    
  }

.headerLogo{
    height: 10vh;
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.headerLogo img{
    width: 100%;
    display: flex;

  }


.mainContainer {
    height: auto; /* Restrict body height to viewport */
    width: 100%;
    display: flex;
    padding: 0;
}





.section1{
    height: 100vh;
    width: 35% ;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(8, 132, 241); */
  }

  .pageTitle{
    height: 30%;
    width: 100% ;
    padding-top: 12%;
    /* background-color: rgb(51, 241, 8); */
  }  

  .text{
    height: 40%;
    width: 60% ;
    justify-self: center;
    text-align: left;
    font-size: 48px;
    font-family: Nunito San;
    /* background-color: rgb(241, 8, 128); */
  } 

  
  
  
  .pageImage{
    height: 70%;
    width: 100% ;
    padding: 0;
    /* background-color: rgb(241, 124, 8); */
  }

  .pageImage img{
    height: 100%;
    width: 100% ;
  }
  





.section2{
    height: 100vh;
    width: 65%;
    display: flex;
    background-color: #f9f9f9;
    padding: 8vh 8vw 8vh 8vw;
  }

  .loginBox{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8vh 4vw 12vh 4vw;
    background-color: #ffffff;
    
  }

  .lHead{
    height: 40%;
    justify-self: center;
    text-align: center;
    font-size: 32px;
    font-family: Nunito San;
    /* background-color: #c8d608; */
    
  }

  .lTag{
    justify-self: center;
    text-align: center;
    font-size: 20px;
    color: #848484;
    font-family: Nunito San;
    /* background-color: #08d638 */
    
  }

  .eText{
    justify-self: center;
    margin-top: 8%;
    font-size: 24px;
    font-family: Nunito San;
    /* background-color: #0b89dd; */
    
  }

  .eBox{
    width: 100%;
    padding: 12px;
    margin-top: 2%;
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    color: #848484;
    font-family: Nunito San;
    /* background-color: #a04ed0; */
    
  }


  .pText{
    justify-self: center;
    margin-top: 6%;
    font-size: 24px;
    font-family: Nunito San;
    /* background-color: #df920c; */
    
  }

  .pBox{
    width: 100%;
    padding: 12px;
    border: 1px solid #F5F5F5;
    margin-top: 2%;
    border-radius: 4px;
    color: #848484;
    font-family: Nunito San;
    /* background-color: #db1887; */
    
  }

.lButton{
  width: 100%;
  padding: 14px;
  margin-top: 6%;
  margin-bottom: 1rem;
  background-color: #096D49; 
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  text-align: center;
    
  }
