* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Nunito Sans;
    src: url(/frontend/STAFF\ VIEW/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf);
}

.header {
    height: 80px;
    width: 100%;
    background-color: #FFFFFF;
    padding: 1vh 12vh;
    margin-top: 0.2vh;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoContain {
    height: auto;
    width: auto;
    /* border: 1px solid green; */
}

.logoContain img {
    -webkit-user-drag: none;
}

.forMobile{
    height: 100%;
    width: 25%;
    /* border: 1px solid green; */
    display: none;
    justify-content: space-between;
    align-items: center;
}

.navHeadName{
    height: 100%;
    width: auto;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: right;
    font-family: Nunito Sans;
    font-size: 12px;
    font-weight: 700;
    user-select: none;
}

.navImg{
    height: 75%;
    width: 35%;
    /* border: 1px solid blue; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navImg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    -webkit-user-drag: none;
    border-radius: 50%;
}

.bodyContain {
    height: 100%;
    width: 100%;
    padding: 2vh 12vh 2vh 12vh;
    background-color: #F9F9F9;
}

.heading {
    height: 60px;
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headingContain {
    height: 100%;
    width: 40%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
}


.headTxt {
    height: 100%;
    width: auto;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    font-family: Nunito Sans;
    font-size: 32px;
    font-weight: 500;
    user-select: none;
}

.homeBtn {
    height: 70%;
    width: 8%;
    border: 1px solid #096D49;
    border-radius: 4px;
    color: #096D49;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

.activeBtnContainer {
    height: 40px;
    width: 100%;
    margin-top: 2vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
    gap: 1vh;
}

.activeBtnMobile{
    display: none;
}

.btnContain {
    background-color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

.btnContain:hover {
    background-color: #6BA79233;
}

.btnContain.activeMonth {
    border: 1px solid #096D49;
    background-color: #6BA79233;
}


.monthTxt {
    height: 100%;
    width: auto;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 500;
    user-select: none;
    
}

.checkBox {
    height: 100%;
    width: 11%;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkBox img {
    -webkit-user-drag: none;
    width: 100%;
}

.heroContain {
    height: 100%;
    width: 100%;
    /* border: 1px solid blue; */
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
}

.profileCard {
    width: 24%;
    /* border: 1px solid purple; */
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    /* gap: 1.5rem; */
    /* margin-bottom: 3vh; */
}

.studentsCard {
    height: 342px;
    background-color: #FFFFFF;
    border: 1px solid #F5F5F5;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* cursor: pointer; */
    box-shadow: 0px 2px 10px 0px #00000029;

}

.cardHead {
    height: 24px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    position: relative;
}

.status {
    height: 100%;
    width: 20%;
    background-color: #19C98A;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Nunito Sans;
    font-size: 8px;
    user-select: none;
    color: #FFFFFF;
}

.statusPast {
    height: 100%;
    width: 15%;
    background-color: #9A9A9A;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Nunito Sans;
    font-size: 8px;
    user-select: none;
    color: #FFFFFF;
}


.cardPhoto {
    height: 100px;
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 0.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.studentPhoto {
    height: 100%;
    width: 40%;
    border-radius: 50%;
    /* border: 1px solid blue; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

.studentPhoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-user-drag: none;
}

.nameInfoContain {
    height: auto;
    width: 100%;
    /* border: 1px solid purple; */
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.nameInfo {
    height: auto;
    width: auto;
    /* border: 1px solid blueviolet; */
    font-family: Nunito Sans;
    font-weight: 500;
    font-size: 16px;
}

.majorInfo {
    height: auto;
    width: auto;
    /* border: 1px solid blueviolet; */
    font-family: Nunito Sans;
    /* font-weight: 600; */
    font-size: 12px;
    color: #A79F9F;
}

.majorInfoContain {
    height: 92px;
    width: 100%;
    background-color: #F9F9F9;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uniContain {
    height: 16px;
    width: 90%;
    /* border: 1px solid blue; */
    margin-top: 0.5vh;
    display: flex;
    align-items: center;
}

.uniIcon {
    height: 100%;
    width: 10%;
}

.uniIcon img {
    -webkit-user-drag: none;
}

.Uni {
    height: auto;
    width: auto;
    /* border: 1px solid red; */
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 10px;
    display: flex;
    align-items: center;
}

.cardFooter {
    height: 24px;
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 1vw;
    display: flex;
    justify-content: space-between;
}

.dateJoined {
    width: auto;
    color: #9A9A9A;
    font-family: Nunito Sans;
    font-weight: 600;
    font-size: 8px;
    display: flex;
    align-items: center;
}

.otherHero {
    height: 680px;
    width: 74%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.activeWeekBtnContain {
    height: 40px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 1vh; */
}

.weekBtn {
    height: 100%;
    width: 24.8%;
    background-color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    /* background-color: #096D49; */
}

.weekBtn:hover{
    background-color: #6BA79233;
}

.weekTxt {
    height: 100%;
    width: auto;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 500;
    user-select: none;
    /* color: #FFFFFF; */
    
}

.checkBox2 {
    height: 100%;
    width: 11%;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkBox2 img {
    -webkit-user-drag: none;
    width: 90%;
}

.activeWeek{
    height: 574px;
    width: 100%;
    /* border: 1px solid blue; */
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
}

.weekHead{
    height: 60px;
    width: 100%;
    border-top: 1px solid #F5F5F5;
    font-family: Nunito Sans;
    font-size: 20px;
    user-select: none;
    display: flex;
    align-items: center;
    padding-left: 1vw;
}

.accordion{
    display: none;
}

.weekLabel{
    height: 60px;
    width: 100%;
    background-color: #F3F3F3;
    border-bottom: 1px solid #F5F5F5;
    display: flex;
    align-items: center;
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 400;
}

.dayLabel{
    height: 100%;
    width: 15%;
    /* background-color: yellow; */
    user-select: none;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 400;
}

.dateLabel{
    height: 100%;
    width: 20%;
    /* background-color: blue; */
    user-select: none;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 400;
}

.workLabel{
    height: 100%;
    width: 65%;
    /* background-color: pink; */
    user-select: none;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 400;
}

.activeWeekData{
    height: 60px;
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #F5F5F5;
    display: flex;
}

.dayData{
    height: 100%;
    width: 15%;
    /* background-color: yellow; */
    user-select: none;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 300;
    border-right: 1px solid #F5F5F5;
}

.dateData{
    height: 100%;
    width: 20%;
    /* background-color: yellow; */
    user-select: none;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 300;
    border-right: 1px solid #F5F5F5;
}

.workData{
    height: 100%;
    width: 65%;
    /* background-color: yellow; */
    user-select: none;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 300;
}

.commentContain{
    height: 154px;
    width: 100%;
    /* border: 1px solid blue; */
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vw 1vw 1vw 2vw;
}

.superLabel{
    height: 24px;
    width: auto;
    /* border: 1px solid black; */
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 400;
}

.actualComment{
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #F5F5F5;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.signature{
    height: 40px;
    width: 100%;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: right;
}

@media screen and (max-width:450px) {
    .header {
        height: 60px;
        padding: 1vh 3vh;
    }
    
    .logoContain {
        height: 32px;
        width: 100px;
        /* border: 1px solid green; */
    }
    
    .logoContain img {
        height: 100%;
    }

    .forMobile{
        display: flex;
    }
    
    .bodyContain {
        padding: 2vh 3vh;
    }
    
    .heading {
        height: 46px;
        margin-bottom: 1vh;
    }
    
    .headingContain {
        width: auto;
    }
    
    .headTxt {
        font-size: 20px;
        font-weight: 600;
        user-select: none;
    }
    
    .homeBtn {
        height: 80%;
        width: 20%;
        font-size: 16px;
        font-weight: 500;
    }
    
    .activeBtnContainer {
        display: none;
    }

    .activeBtnMobile{
        height: 67px;
        width: 100%;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .monthContain{
        height: 30px;
        width: 20%;
        background-color: #FFFFFF;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        position: relative;
    }

    .caretDown{
        height: 100%;
        width: 35%;
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .caretDown img{
        height: 70%;
        -webkit-user-drag: none;
    }

    .month1{
        height: 100%;
        width: 70%;
        /* border: 1px solid blue; */
        font-size: 11px;
        font-family: Nunito Sans;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dropdownMonths{
        height: 180px;
        width: 23%;
        background-color: #FFFFFF;
        position: absolute;
        z-index: 2;
        /* border: 1px solid red; */
        top: 22.5%;
        display: none;
        flex-direction: column;
    }

    .dropped{
        height: 17%;
        width: 100%;
        border-bottom: 1px solid #F5F5F5;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Nunito Sans;
        font-size: 11px;
        user-select: none;
    }

    .weekContain{
        height: 30px;
        width: 100%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: space-between;
    }
    
    .week1Cont{
        height: 100%;
        width: 24%;
        background-color: #FFFFFF;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Nunito Sans;
        font-size: 11px;
        font-weight: 500;
    }

    .week1Cont p{
        height: auto;
        width: auto;
        /* border-bottom: 1px solid #096D49; */
    }
    
    
    .profileCard {
        display: none;
    }
    
    .otherHero {
        width: 100%;
    }
    
    .activeWeekBtnContain {
        display: none;
    }
    
    .activeWeek{
        height: auto;
        width: 100%;
        /* border: 1px solid blue; */
        margin-top: 1vw;
        display: flex;
        flex-direction: column;
        border-radius: 4px;
    }
    
    .weekHead{
        height: 60px;
        width: 100%;
        border-top: 1px solid #F5F5F5;
        font-family: Nunito Sans;
        font-size: 20px;
        user-select: none;
        display: flex;
        align-items: center;
        padding-left: 1vw;
    }
    
    .weekLabel{
        display: none;
    }
    
    .activeWeekData{
        display: none;
    }

    .accordion{
        height: auto;
        /* border: 1px solid purple; */
    }

    .accordionItem {
        border-bottom: 1px solid #F5F5F5;
    }
    
    .accordionHeader {
        cursor: pointer;
        height: 35px;
        width: 100%;
        background-color: #FFFFFF;
        display: flex;
        justify-content: space-between;
    }

    .mobileDay1{
        height: 100%;
        width: auto;
        font-family: Nunito Sans;
        font-size: 12px;
        font-weight: 600;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0vh 2vh;
    }

    .caretDown2{
        height: 100%;
        width: 10%;
        /* border: 1px solid pink; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .caretDown2 img {
        width: 16px;
        transition: transform 0.3s ease;
        height: 80%;
        -webkit-user-drag: none;
    }
    
    .accordionContent {
        display: none;
        align-items: center;
        justify-content: space-between;
        height: 56px;
        width: 100%;
        background-color: #FFFFFF;
        padding: 0vh 1vh 0vh 2vh;
    }

    .date{
        height: 100%;
        width: auto;
        /* border: 1px solid black; */
        font-family: Nunito Sans;
        font-size: 10px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .activity{
        height: 100%;
        width: 60%;
        /* border: 1px solid blue; */
        font-family: Nunito Sans;
        font-size: 10px;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .accordionItem.active .accordionContent {
        display: flex;
    }
    
    .accordionItem.active .caretDown2 img {
        transform: rotate(180deg); /* Flips the caret when open */
    }
    
    
    .commentContain{
        height: 264px;
        width: 100%;
        /* border: 1px solid blue; */
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 4vw 4vw 1vw 4vw;
    }
    
    .superLabel{
        margin-bottom: 3vh;
        font-size: 18px;
    }
    
    .actualComment{
        height: 117px;
        font-size: 11px;
        /* border: 1px solid black; */
        align-items: normal;
    }
    
    .signature{
        border-top: 1px solid #F5F5F5;
    }
}