*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Nunito Sans;
    src: url(/frontend/staff-view/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

.header{
    height: 80px;
    width: 100%;
    background-color: #FFFFFF;
    padding: 1vh 12vh;
    margin-top: 0.2vh;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

.logoContain{
    height: auto;
    width: auto;
    /* border: 1px solid green; */
}

.logoContain img{
    -webkit-user-drag: none;
}

.bodyContain{
    height: 100%;
    width: 100%;
    padding: 2vh 12vh 2vh 12vh;
    background-color: #F9F9F9;
}

.heading{
    height: 60px;
    width: 100%;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headingContain{
    height: 100%;
    width: 40%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
}

.backArrow{
    height: 100%;
    width: 8%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    cursor: pointer;
}

.backArrow img{
    -webkit-user-drag: none;
}


.headTxt{
    height: 100%;
    width: auto;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    font-family: Nunito Sans;
    font-size: 32px;
    font-weight: 500;
    user-select: none;
}

.logBtn{
    height: 70%;
    width: 7.5%;
    background-color: #096D49;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 14px;
    font-family: Nunito Sans;
    font-weight: 200;
    user-select: none;
    cursor: pointer;
}

.logBtn:hover{
    background-color: #6BA792;
}

/* ------Hero section CSS-------- */

.heroContain{
    height: 257px;
    width: 95%;
    /* border: 1px solid blue; */
    margin: 2vh 0vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photoNname{
    height: 221px;
    width: 40%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* border: 1px solid black; */
    gap: 3vh;
}

.profilePhoto{
    height: 221px;
    width: 50%;
    /* border: 1px solid #D9D9D9; */
    /* border: 1px solid purple; */
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.photoBox{
    height: 174px;
    width: 100%;
    background-color: black;
}

.photoBox img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 4px;
    -webkit-user-drag: none;
}

.uploadBox{
    height: 40px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.imgBox{
    height: 100%;
    width: 18%;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgBox img{
    -webkit-user-drag: none;
    width: 50%;
}

.txtBox{
    height: 100%;
    width: 82%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    font-family: Nunito Sans;
    font-weight: 400;
    user-select: none;
    font-size: 15px;
    color: #848484;
}

#selectImage{
    display: none;
}

.nameInterest{
    height: 90px;
    width: 60%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    user-select: none;
}

.johnDoe{
    height: 50%;
    width: 100%;
    /* background-color: blue; */
    font-family: Nunito Sans;
    font-size: 28px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.Interest{
    height: 30%;
    width: 100%;
    /* background-color: red; */
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.bioData{
    height: 199px;
    width: 40%;
    /* border: 1px solid red; */
    background-color: #E1EDE9;
    border-radius: 4px;
    padding: 3vh 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 10px 0px #00000029;
    user-select: none;
}

.bioTitle{
    height: 15%;
    width: 95%;
    /* border: 1px solid black; */
    font-size: 20px;
    font-family: Nunito Sans;
    font-weight: 600;

}

.bioBody{
    height: 70%;
    width: 95%;
    /* border: 1px solid red; */
    font-family: Nunito Sans;
    font-weight: 300;
    font-size: 20px;
    color: #797979;
}

/* ------Info Section------- */

.majorContainer{
    height: 496px;
    width: 100%;
    /* border: 1px solid black; */
    margin: 2vw  0vh 0vh 0vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    user-select: none;
    align-items:flex-end;

}

.personInfo{
    height: 90%;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    padding: 3vh 2vh;
}

.titleEdit{
    height: 34px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.infoTitle{
    height: 100%;
    width: auto;
    /* border: 1px solid blue; */
    font-size: 24px;
    font-family: Nunito Sans;
    font-weight: 400;
}


.infoBodyContain{
    height: 94px;
    width: 100%;
    /* border: 1px solid green; */
    margin-bottom: 2vh;
    display: flex;
    justify-content: space-between;
}

.infoBody{
    height: 94px;
    width: 49%;
    /* border: 1px solid purple; */
    display: flex;
    justify-content: space-between;
}

.halfInfo{
    height: 100%;
    width: 48%;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.infoLabel{
    height: 40%;
    width: 90%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: Nunito Sans;
    font-weight: 600;
}

.infoData{
    height: 50%;
    width: 90%;
    /* border: 1px solid palevioletred; */
    display: flex;
    /* align-items: center; */
    font-size: 20px;
    font-family: Nunito Sans;
    font-weight: 600;
    word-break: break-word;
    overflow-wrap: break-word;
}

@media screen and (max-width:450px) {
    .header {
        height: 60px;
        padding: 1vh 3vh;
    }
    
    .logoContain {
        height: 32px;
        width: 100px;
        /* border: 1px solid green; */
    }
    
    .logoContain img {
        height: 100%;
    }
    
    .bodyContain {
        padding: 2vh 3vh;
    }
    
    /* <!-- -----------Header section------------ --> */
    
    .heading{
        height: 46px;
    }
    
    .headingContain{
        width: auto;
        gap: 2vh;
    }
    
    .headTxt{
        font-size: 20px;
    }
    
    
    .logBtn{
        width: 23%;
    }
    
    .logBtn:hover{
        background-color: #6BA792;
    }
    
    /* ------Hero section CSS-------- */
    
    .heroContain{
        height: auto;
        width: 100%;
        flex-direction: column;
        /* border: 1px solid blue;  */
        margin-bottom: 4vh;
    }
    
    .photoNname{
        height: 316px;
        width: 100%;
        flex-direction: column;
        /* border: 1px solid black; */
        gap: 3vh;
    }
    
    .profilePhoto{
        height: 221px;
        width: 100%;
    }
    
    .photoBox{
        height: 100%;
        width: 100%;
    }
    
    
    .nameInterest{
        width: 100%;
    }
    
    .johnDoe{
        height: 50%;
        width: 100%;
        font-size: 25px;
        font-weight: 600;
    }
    
    .Interest{
        height: 50%;
    }
    
    .bioData{
        height: 213px;
        width: 100%;
        margin-top: 2vh;
        padding: 3vh 1vh;
    }
    
    
    .bioBody{
        height: 75%;
        width: 95%;
        font-weight: 400;
        font-size: 18px;
    }
    
    /* ------Info Section------- */
    
    .majorContainer{
        height: auto;
        flex-direction: column;
        align-items:flex-end;   
    }

    .personInfo{
        padding: 3vh 3vh;
    }
    
    .titleEdit{
        margin-bottom: 3vh;
    }
    
    .infoTitle{
        font-weight: 500;
    }
    
    .infoBodyContain{
        height: 410px;
        flex-direction: column;
        margin-bottom: 1vh;
    }
    
    .infoBody{
        height: 200px;
        width: 100%;
        /* border: 1px solid purple; */
        display: flex;
        flex-direction: column;
    }
    
    .halfInfo{
        height: 48%;
        width: 100%;
    }

}