*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   -webkit-user-drag: none;
    user-select: none;
}

@font-face {
    font-family: Nunito Sans;
  src: url(../fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}


  
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* Hides horizontal overflow */
  width: 100%; /* Ensures content fits the screen width */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  box-sizing: border-box; /* Includes padding & border in width calculation */

}



.mainNav {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0vh 6vw 0vh 6vw;
    
  }

.headerLogo{
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.headerLogo img{
    width: 100%;
    display: flex;

  }




.signout{
  height: 2rem;
  width: auto;
  display: flex;
  padding-top: 0.35rem;
  cursor: pointer;
  }

.sText{
  height: 1.2rem;
  width: auto;
  display: flex;
  font-family: Nunito San;
  font-size: 14px;
  font-weight: 600;
  color: #047c34;
  gap: 1;
  }

.sIcon{
  height: 1.2rem;
  width: auto;
  display: flex;
  justify-content: space-around;
  margin-left: 1rem;
  }





.mainContainer {
    height: auto; /* Restrict body height to viewport */
    width: 100%;
    padding: 0vh 6vw 0vh 6vw;
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
}


.topSection {
    height: 25vh; /* Restrict body height to viewport */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2vh;
    /* background-color: #e2d40a; */
}

  .ItHeader{
    height: 50%;
    width: 100% ;
    justify-self: center;
    text-align: left;
    font-size: 48px;
    font-family: Nunito San;
  } 


.searchBars{
    height: 50%;
    width: 100% ;
    display: flex;
    justify-content: space-between;
    padding: 2vh 0vw 2vh 0vw;
    font-size: 48px;
    font-family: Nunito San;
  }

  .searchName{
    height: 70%;
    width: 33%;
    display: flex;
    align-items: center;
    padding: 2vh 0.5vw 2vh 0.5vw;
    overflow: hidden;
    border: 1.6px solid #F5F5F5;
    border-radius: 4px;
    color: #848484;
    font-family: Nunito San;
    background-color: #FFFFFF;
  } 


.searchIcon {
  width: 2%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
  

  .searchText{
    flex: 1; /* <-- This makes the input fill remaining space */
    border: none;
    outline: none;
    font-size: 16px;
    font-family: Nunito San;
  }

  .searchField{
    flex: 1;
    width: 100%;
    padding: 4px;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: Nunito San;
  }

  .searchInstit{
    height: 70%;
    width: 33%;
    display: flex;
    align-items: center;
    padding: 2vh 0.5vw 2vh 0.5vw;
    overflow: hidden;
    border: 1.6px solid #F5F5F5;
    border-radius: 4px;
    color: #848484;
    font-family: Nunito San;
    background-color: #FFFFFF;
  }

  .searchInterest{
    height: 70%;
    width: 33%;
    display: flex;
    align-items: center;
    padding: 2vh 0.5vw 2vh 0.5vw;
    overflow: hidden;
    border: 1.6px solid #F5F5F5;
    border-radius: 4px;
    color: #848484;
    font-family: Nunito San;
    background-color: #FFFFFF;
  }



.table {
    height: auto; /* Restrict body height to viewport */
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.tableHeaders{
    height: 4.5vh;
    width: 100% ;
    display: flex;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    background-color: #F3F3F3;
    padding-top: 0.4%;
    padding-left: 0.6rem;
  }

  .c1{
    height: 4vh;
    width: 4% ;
    display: flex;
    text-align: left;
    justify-content: space-between;
    font-size: 14px;
    font-family: Nunito San;
  }

  .c2{
    height: 4vh;
    width: 24% ;
    display: flex;
    text-align: left;
    justify-content: space-between;
    font-size: 14px;
    font-family: Nunito San;
  }

  .c3{
    height: 4vh;
    width: 25% ;
    display: flex;
    text-align: left;
    justify-content: space-between;
    font-size: 14px;
    font-family: Nunito San;
  }

  .c4{
    height: 4vh;
    width: 20% ;
    display: flex;
    text-align: left;
    justify-content: space-between;
    font-size: 14px;
    font-family: Nunito San;
  }

  .c5{
    height: 4vh;
    width: 12% ;
    display: flex;
    text-align: left;
    justify-content: space-between;
    font-size: 14px;
    font-family: Nunito San;
  }

  .c6{
    height: 4vh;
    width: 15% ;
    display: flex;
    text-align: left;
    justify-content: space-between;
    font-size: 14px;
    font-family: Nunito San;
  }


  .tableRows{
    height: 6vh;
    width: 100% ;
    display: flex;
    text-align: left;
    font-size: 14px;
    font-family: Nunito San;
    background-color: #FFFFFF;
    padding-top: 1%;
    padding-left: 0.6rem;
  }


.straightLines {
  content: '';
  display:block;
  width: auto;
  height: 0.056vw;
  background: #F3F3F3; /* Line color */
  justify-content: center;
  justify-items: center;
}
